	1.	Минимум зависимостей – Используй только Facebook Marketing API https://developers.facebook.com/docs/marketing-apis/, без сторонних сервисов, пока тестируем локально.
	2.	Чистый и модульный код – Разделяй логику (кампании, группы объявлений, отключение) в отдельные функции.
    4.	Гибкие настройки – Все параметры (бюджет, гео, аудитории) храни в переменных, чтобы легко менять без правки кода.
	5.	для работы с База данной исполльзуй файл [Информация о базе данных](/Users/alekenov/CascadeProjects/target/docs/database/rds.md)
	6. Не создавай просто так файлы. 
